:root {
  --white: #ffffff;
  --white-opacity: #ffffffe5;
  --white-opacity-second: #ffffff66;
  --black: #000000;
  --light-black: #333333;
  --opacity-black: #00000070;
  --opacity-black-second: #00000080;
  --primary: #9c0707;
  --primary-dark: #720303;
  --primary-light: #fcfffa;
  --gray: #7a8690;
  --gray-light: #7a869080;
  --gray-dark: #525c76;
  --blue: #377dff;
  --light-blue: #f8fdff;
  --orange: #ff8900;
  --border: #f3f3f4;
  --border-header: #cad5df;
  --hover: #f8f8f8;
  --shadow: #e7ecf8;
  --error-color: #9c0707;
  --table-even: #f9f9fb;
  --admin-input: #edeff2;
  --admin-background: #f7f8fa;
  --admin-text: #57647d;
  --pop-up-bgc: #e5e5e7;
  --admin-text2: #474747;
  --border-color: #f5f6f7;
  --button-color: #6b7a99;
}
